<div id="modal_bg">
</div>

<div id="modal_menu_indiv">
    <!--<2% form_with url: users_path do |form| %>-->
    <%= form_for(@orderlist, url: '/order/modal_order') do |f| %>
    <%= f.hidden_field(:menu_id, value: @menu.id)%>

    <div class="modal_menu_indiv_upper">
        <div id="modal_close">
            <i class="fas fa-times"></i>
        </div>
        <div class="modal_menu_image">
            <%= image_tag "#{@menu.image}" %>
            <div class="modal_menu_title_n_price clearfix">
                <div class="modal_menu_title">
                    <p><%= @menu.name_zh %></p>
                </div>
                <div class="modal_menu_price">
                    <p>JPY <%= @menu.price %></p>
                </div>
            </div>
        </div>
        <div class="modal_menu_detail_n_number">
            <div class="modal_menu_detail">
                <p><%= @menu.detail_zh %></p>
            </div>
            <div class="modal_menu_number_box clearfix">
                <div class="modal_menu_number">
                    <%= f.radio_button(:number, 1, :checked => true) %>
                    <%= f.label(:number, "1", value: "1")  %>
                </div>
                <div class="modal_menu_number">
                    <%= f.radio_button(:number, 2)%>
                    <%= f.label(:number, "2", value: "2")  %>
                </div>
                <div class="modal_menu_number">
                    <%= f.radio_button(:number, 3) %>
                    <%= f.label(:number, "3", value: "3")  %>
                </div>
                <div class="modal_menu_number">
                    <%= f.radio_button(:number, 4) %>
                    <%= f.label(:number, "4", value: "4")  %>
                </div>
            </div>
        </div>
    </div>
    <div class="modal_menu_indiv_bottom">
        <div class="modal_menu_option_box">
            <!--もしオプションの中に番号があったら表示-->
            <% if @option1 %>
                <!--麺変更の場合０円になってしまうので、オプションが麺０円の時のみ違う条件にした↓-->
                <% if @option1.id == 99 %>
                    <div class="modal_menu_option">
                        <%= f.radio_button(:option_id, @option1.id) %>
                        <%= f.label(:option_id, "#{@option_name1_zh}", value: @option1.id)  %>
                    </div>
                <% else %>
                    <div class="modal_menu_option">
                        <%= f.radio_button(:option_id, @option1.id) %>
                        <%= f.label(:option_id, "#{@option_name1_zh}+#{@option_price1}", value: @option1.id)  %>
                    </div>
                <% end %>
            <% end %>
            <% if @option2 %>
                <div class="modal_menu_option">
                    <%= f.radio_button(:option_id, @option2.id) %>
                    <%= f.label(:option_id, "#{@option_name2_zh}+#{@option_price2}", value: @option2.id)  %>
                </div>
            <% end %>
            <% if @option3 %>
                <div class="modal_menu_option">
                    <%= f.radio_button(:option_id, @option3.id) %>
                    <%= f.label(:option_id, "#{@option_name3_zh}+#{@option_price3}", value: @option3.id)  %>
                </div>
            <% end %>
        </div>
        <div class="modal_menu_tocart" >
        <!--<div class="modal_menu_tocart", onclick="myFunction()" >-->
            <%= f.submit '放入购物车', class: 'tocart_button', style:"font-family: 'Noto Sans SC', sans-serif;" %>
        </div>        
    </div>
    <% end %>
</div>

<div id="modal_change_noodle">
    <div class="change_noodle_noodle">
        <div class="change_noodle_title">
            <p>请选择想换的面</p>
        </div>
        <ul class="change_noodle_box">
            <li class="noodle_name">
                <p>黑担担面　小辣<br>+280</p>
                <span>11</span>
            </li>
            <li class="noodle_name">
                <p>黑担担面　中辣<br>+280</p>
                <span>37</span>
            </li>
            <li class="noodle_name">
                <p>黑担担面　大辣<br>+280</p>
                <span>38</span>
            </li>
            <li class="noodle_name">
                <p>麻婆面<br>+280</p>
                <span>10</span>
            </li>
            <li class="noodle_name">
                <p>海鲜面<br>+300</p>
                <span>12</span>
            </li>
            <li class="noodle_name">
                <p>白担担面　小辣<br>+280</p>
                <span>26</span>
            </li>
            <li class="noodle_name">
                <p>白担担面　中辣<br>+280</p>
                <span>39</span>
            </li>
            <li class="noodle_name">
                <p>白担担面　大辣<br>+280</p>
                <span>40</span>
            </li>
            <li class="noodle_name">
                <p>汤面<br>+250</p>
                <span>13</span>
            </li>
            <li class="noodle_name">
                <p>豆芽面<br>+280</p>
                <span>14</span>
            </li>
            <li class="noodle_name">
                <p>广东面<br>+280</p>
                <span>15</span>
            </li>
            <li class="noodle_name">
                <p>五目面<br>+300</p>
                <span>16</span>
            </li>
            <li class="noodle_name">
                <p>什锦干面<br>+300</p>
                <span>17</span>
            </li>
            <li class="noodle_name">
                <p>炒面<br>+300</p>
                <span>18</span>
            </li>
            <li class="noodle_name">
                <p>肥肠炒面<br>+400</p>
                <span>19</span>
            </li>
            <li class="noodle_name">
                <p>什锦煎面<br>+400</p>
                <span>20</span>
            </li>
            <li class="noodle_name">
                <p>云吞面<br>+300</p>
                <span>21</span>
            </li>
            <li class="noodle_name">
                <p>扣肉面<br>+400</p>
                <span>22</span>
            </li>
            <li class="noodle_name">
                <p>味噌面<br>+350</p>
                <span>23</span>
            </li>
            <li class="noodle_name">
                <p>叉烧面<br>+280</p>
                <span>24</span>
            </li>
            <li class="noodle_name">
                <p>咸菜面<br>+180</p>
                <span>25</span>
            </li>
            <li class="noodle_name">
                <p>跑马面<br>+280</p>
                <span>27</span>
            </li>
            <li class="noodle_name">
                <p>陈麻婆面<br>+380</p>
                <span>28</span>
            </li>
            <li class="noodle_name">
                <p>麻辣烫面<br>+500</p>
                <span>29</span>
            </li>
            <li class="noodle_name">
                <p>酸辣烫面<br>+580</p>
                <span>30</span>
            </li>
            <li class="noodle_name">
                <p>炸酱面<br>+280</p>
                <span>31</span>
            </li>
            <li class="noodle_name">
                <p>鱼翅面<br>+1080</p>
                <span>32</span>
            </li>
            <li class="noodle_name">
                <p>凉沾面<br>+280</p>
                <span>53</span>
            </li>
            <li class="noodle_name">
                <p>凉拌面<br>+350</p>
                <span>54</span>
            </li>
            <li class="noodle_name">
                <p>冷担担面<br>+280</p>
                <span>55</span>
            </li>
        </ul>
    </div>
    <div class="change_noodle_cancel_submit">
        <div class="change_noodle_button">
            <div id="change_noodle_button_cancel">
                <p>取消</p>
            </div>
        </div>
        <div class="change_noodle_button">
            <div id="change_noodle_button_submit">
                <p>确定</p>
            </div>
        </div>
    </div>
</div>


