<div id="modal_bg">
</div>

<div id="modal_menu_indiv">
    <!--<2% form_with url: users_path do |form| %>-->
    <%= form_for(@orderlist, url: '/order/modal_order') do |f| %>
    <%= f.hidden_field(:menu_id, value: @menu.id)%>

    <div class="modal_menu_indiv_upper">
        <div id="modal_close">
            <i class="fas fa-times"></i>
        </div>
        <div class="modal_menu_image">
            <%= image_tag "#{@menu.image}" %>
            <div class="modal_menu_title_n_price clearfix">
                <div class="modal_menu_title title_size">
                    <p><%= @menu.name_en %></p>
                </div>
                <div class="modal_menu_price">
                    <p>JPY <%= @menu.price %></p>
                </div>
            </div>
        </div>
        <div class="modal_menu_detail_n_number">
            <div class="modal_menu_detail">
                <p><%= @menu.detail_en %></p>
            </div>
            <div class="modal_menu_number_box clearfix">
                <div class="modal_menu_number">
                    <%= f.radio_button(:number, 1, :checked => true) %>
                    <%= f.label(:number, "1", value: "1")  %>
                </div>
                <div class="modal_menu_number">
                    <%= f.radio_button(:number, 2)%>
                    <%= f.label(:number, "2", value: "2")  %>
                </div>
                <div class="modal_menu_number">
                    <%= f.radio_button(:number, 3) %>
                    <%= f.label(:number, "3", value: "3")  %>
                </div>
                <div class="modal_menu_number">
                    <%= f.radio_button(:number, 4) %>
                    <%= f.label(:number, "4", value: "4")  %>
                </div>
            </div>
        </div>
    </div>
    <div class="modal_menu_indiv_bottom">
        <div class="modal_menu_option_box">
            <!--もしオプションの中に番号があったら表示-->
            <% if @option1 %>
                <!--麺変更の場合０円になってしまうので、オプションが麺０円の時のみ違う条件にした↓-->
                <% if @option1.id == 99 %>
                    <div class="modal_menu_option">
                        <%= f.radio_button(:option_id, @option1.id) %>
                        <%= f.label(:option_id, "#{@option_name1_en}", value: @option1.id)  %>
                    </div>
                <% else %>
                    <div class="modal_menu_option">
                        <%= f.radio_button(:option_id, @option1.id) %>
                        <%= f.label(:option_id, "#{@option_name1_en}+ ¥#{@option_price1}", value: @option1.id)  %>
                    </div>
                <% end %>
            <% end %>
            <% if @option2 %>
                <div class="modal_menu_option">
                    <%= f.radio_button(:option_id, @option2.id) %>
                    <%= f.label(:option_id, "#{@option_name2_en}+ ¥#{@option_price2}", value: @option2.id)  %>
                </div>
            <% end %>
            <% if @option3 %>
                <div class="modal_menu_option">
                    <%= f.radio_button(:option_id, @option3.id) %>
                    <%= f.label(:option_id, "#{@option_name3_en}+ ¥#{@option_price3}", value: @option3.id)  %>
                </div>
            <% end %>
        </div>
        <div class="modal_menu_tocart" >
        <!--<div class="modal_menu_tocart", onclick="myFunction()" >-->
            <%= f.submit 'To Cart', class: 'tocart_button', style: "font-family: 'Ubuntu Condensed', sans-serif;" %>
        </div>        
    </div>
    <% end %>
</div>

<div id="modal_change_noodle">
    <div class="change_noodle_noodle">
        <div class="change_noodle_title">
            <p>Please choose the noodle you want to change to.</p>
        </div>
        <ul class="change_noodle_box">
            <li class="noodle_name">
                <p>Sesame Mild<br>+280</p>
                <span>11</span>
            </li>
            <li class="noodle_name">
                <p>Sesame Hot<br>+280</p>
                <span>37</span>
            </li>
            <li class="noodle_name">
                <p>Sesame Very Hot<br>+280</p>
                <span>38</span>
            </li>
            <li class="noodle_name">
                <p>Mapo<br>+280</p>
                <span>10</span>
            </li>
            <li class="noodle_name">
                <p>Seafood<br>+300</p>
                <span>12</span>
            </li>
            <li class="noodle_name">
                <p>White Sesame Mild<br>+280</p>
                <span>26</span>
            </li>
            <li class="noodle_name">
                <p>White Sesame Hot<br>+280</p>
                <span>39</span>
            </li>
            <li class="noodle_name">
                <p>White Sesame Very Hot<br>+280</p>
                <span>40</span>
            </li>
            <li class="noodle_name">
                <p>Vegetable<br>+250</p>
                <span>13</span>
            </li>
            <li class="noodle_name">
                <p>Bean Sprout<br>+280</p>
                <span>14</span>
            </li>
            <li class="noodle_name">
                <p>Veg Seafood Salty<br>+280</p>
                <span>15</span>
            </li>
            <li class="noodle_name">
                <p>Veg Seafood Soy sauce<br>+300</p>
                <span>16</span>
            </li>
            <li class="noodle_name">
                <p>Crisp Hard Fried<br>+300</p>
                <span>17</span>
            </li>
            <li class="noodle_name">
                <p>Fried Noodle<br>+300</p>
                <span>18</span>
            </li>
            <li class="noodle_name">
                <p>Pork Tripe<br>+400</p>
                <span>19</span>
            </li>
            <li class="noodle_name">
                <p>Vegetable Fried<br>+400</p>
                <span>20</span>
            </li>
            <li class="noodle_name">
                <p>Wonton<br>+300</p>
                <span>21</span>
            </li>
            <li class="noodle_name">
                <p>Braised Pork<br>+400</p>
                <span>22</span>
            </li>
            <li class="noodle_name">
                <p>Miso<br>+350</p>
                <span>23</span>
            </li>
            <li class="noodle_name">
                <p>Sliced Pork<br>+280</p>
                <span>24</span>
            </li>
            <li class="noodle_name">
                <p>Leaf Mustard<br>+180</p>
                <span>25</span>
            </li>
            <li class="noodle_name">
                <p>Super Spicy<br>+280</p>
                <span>27</span>
            </li>
            <li class="noodle_name">
                <p>Mapo (spicier)<br>+380</p>
                <span>28</span>
            </li>
            <li class="noodle_name">
                <p>Spicy Veg Soup<br>+500</p>
                <span>29</span>
            </li>
            <li class="noodle_name">
                <p>Sour/Spicy Soup<br>+580</p>
                <span>30</span>
            </li>
            <li class="noodle_name">
                <p>Soybean Paste<br>+280</p>
                <span>31</span>
            </li>
            <li class="noodle_name">
                <p>Shark Fin<br>+1080</p>
                <span>32</span>
            </li>
            <li class="noodle_name">
                <p>Dipping Noodle<br>+280</p>
                <span>53</span>
            </li>
            <!--<li class="noodle_name">-->
            <!--    <p>Chilled Noodle<br>+350</p>-->
            <!--    <span>54</span>-->
            <!--</li>-->
            <!--<li class="noodle_name">-->
            <!--    <p>Chilled Spicy<br>+280</p>-->
            <!--    <span>55</span>-->
            <!--</li>-->
        </ul>
    </div>
    <div class="change_noodle_cancel_submit">
        <div class="change_noodle_button">
            <div id="change_noodle_button_cancel">
                <p>Cancel</p>
            </div>
        </div>
        <div class="change_noodle_button">
            <div id="change_noodle_button_submit">
                <p>Submit</p>
            </div>
        </div>
    </div>
</div>


